.banner{
      background-color:aqua;
      width:300%;
      height:100px;
      margin-bottom:50px;

}
.banner-text{
      top:50px;
      left:650px;
      position:absolute;
      transform:transform;
      text-align:center;
}
